<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<div id="main">
    <div th:replace="pages/top :: top"></div>
    <section id="content_wrapper">
        <section id="content">
            <div class="admin-form theme-info mw500" id="login">
                <div class="content-header" style="margin-top: 40%">
                    <h1> 没权限</h1>
                    <button type="button" class="button" onclick="javascript:window.history.go(-1);"> 返回</button>
                </div>

            </div>
        </section>
    </section>
</div>
<div th:replace="pages/bottom :: bottom"></div>
</html>